.DS_Store
.gemrc
log/*
tmp/*
gems/*
doc/*
TAGS
config/openid-store/*
config/openid-store-test/*
*~
.#*
schema/schema.rb
schema/*_structure.sql
schema/*.sqlite3
schema/*.sqlite
schema/*.db
*.sqlite
*.sqlite3
*.db
src/*
.hgignore
.hg/*
.svn/*
coverage/*
bin/
gems
