body {
  margin:0;
  padding:0;
  font-size:85%;
  color: #333;
  background: #F8F8F8;
  font-family: Lucida Grande, Verdana, sans-serif;
}
.content {
  font-size: 13px;
}
#header {
  background:#fcfcfc url(/images/bg_header.gif) repeat-x bottom;
  padding:.3em 1.5em;
  height: 32px;
}
#header #branding {
  height: 30px;
  width: 76px;
  background: url(/images/logo.gif) no-repeat left center;
  float: left;
}
#header #links {
  font-size: 0.9em;
  float:right;
  margin: 0px 0;
  padding: 5px 0 5px 20px;
  border-left: 1px solid #CCC;
}
#header #links li {
  display: inline;
}
#header #links li#search {
  padding-left: 20px;
  border-left: 1px solid #CCC;
}
#header #links li#search input {
  background: #EAEAEA;
  padding: 3px;
  border: 1px solid #CCC;
}
#header #links li#search input:focus {
  background: #FFF;
}

#header #links a {
  margin-right:1em;
  text-decoration: none;
}
#header #links a:hover {
  color: #000;
}
.content {
  padding: 20px;
}
#signup {
  color: #333
}
#signup h1 {
  font-size: 1.3em
}
#signup label {
  display: block;
  clear: both;
  margin-bottom: 3px;
}
#signup input {
  font-size: 13px;
  clear: both;
  width: 200px;
  padding: 3px;
  margin-bottom: 10px;
  background: #F0F0F0;
  border: solid 1px #C9C9C9;
}
#signup input:focus {
  background: #FFF;
}
#signup .submit {
  margin-top: 10px;
  width: auto;
  display: block;
}
#signup .submit:hover {
  cursor: pointer;
}