<p>
  Welcome to the flatirons OpenID Provider.
</p>
<p>
  <strong>Learn about:</strong> <a href="http://www.powerset.com/explore/semhtml/Flatirons?query=what+are+the+flatirons" />The Flatirons</a>
</p>
<p>
  <strong>Contribute to the App:</strong> <a href="http://github.com/atmos/flatirons/tree/master">On GitHub</a>
</p>
