Greetings,

Someone claiming to be you requested an account on the OpenID provider
at <%= @host %>.  If you want to enable an account for this
email address(<%= @user.email %>) then click 
<a href="/users/signup/?token=<%= @user.registration_token %>'>here</a> confirm 
<%= "#{@host}/#{@user.login}"  %> as your OpenID url.

__
Flatirons OpenID
