<form id="signup" action="<%= url(:perform_login) %>" method="POST" accept-charset="utf-8">
  <input type="hidden" name="_method" value="PUT" />
  <h1>Login</h1>
  <label for='email'>Email
    <input type='text' name="email" id='email' />
  </label>

  <label for='password'>Password
    <input type="password" name="password" value="" id="password" />
  </label>
  
  <input type='submit' class='submit' value='Log in' />
</form>

